:root {
  /* цвет текста */
  --text-dark-color: #212121;
  --text-main-color: #757575;
  --text-acent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-link-footer-color: rgba(255, 255, 255, 0.6);
  --text-black-color: #000000;
  /* цвета фона*/
  --bgc-white-color: #ffffff;
  --bgc-dark-grey-color: #2f303a;
  --bgc-light-grey-color: #f5f4fa;
  /* отступы */
  --margin50: 50px;
  --margin30: 30px;
  --margin20: 20px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-dark-color);
}

.btn {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-dark-color);
  background-color: var(--bgc-light-grey-color);
}

/* CONTAINER */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav,
.auth-nav,
.header-nav,
.container-flex,
.advantage-list,
.work-list,
.team-list,
.card-set {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  background-color: var(--bgc-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Студия */

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-acent-color);
}

.logo-part {
  color: var(--text-black-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}

.site-nav .item:not(:last-child) {
  margin-right: var(--margin50);
}

.site-nav .current {
  color: var(--text-acent-color);
}

.auth-nav .item:not(:last-child) {
  margin-right: var(--margin50);
}

.header-nav {
  margin-right: 331px;
  align-items: center;
}

.container-flex {
  align-items: center;
}

.auth-nav .contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}

.link:hover,
.link:focus {
  color: var(--text-acent-color);
}

.hero,
.footer {
  background-color: var(--bgc-dark-grey-color);
}

/* Hero */
.hero {
  width: 100%;
  height: 600px;
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white-color);

  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: var(--text-acent-color);
  color: var(--text-white-color);
}

.btn-hero {
  display: block;
  margin-top: var(--margin30);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--text-acent-color);
  color: var(--text-white-color);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--text-white-color);
  color: var(--text-acent-color);
}

/* advantage */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  color: var(--text-dark-color);
  text-align: left;
  text-transform: uppercase;
}

.advantage-list .item:not(:last-child) {
  margin-right: var(--margin30);
}

.advantage-list .item {
  width: 270px;
}

/* work */

.work {
  padding-top: 0;
}

.work .title {
  margin-bottom: var(--margin50);
}

.work-list > .item:not(:last-child) {
  margin-right: var(--margin30);
}

/* team */
.team {
  background-color: var(--bgc-light-grey-color);
}

.team-title {
  margin-bottom: var(--margin50);
}

.team-list > .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-foto {
  display: block;
}

.team-title-cards {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list > .item:not(:last-child) {
  margin-right: var(--margin30);
}

.card-text {
  padding: 20px 24px;
}
/* footer */

.footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-part-footer,
.address {
  color: var(--text-white-color);
}

.footer .list {
  margin-top: var(--margin20);
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  color: var(--text-link-footer-color);
}

/* Портфолио */
.list-btn {
  display: flex;
  justify-content: center;
}

.list-btn > .item {
  margin-right: 8px;
  margin-bottom: 70px;
}

.porftolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-dark-color);
}

.porftolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
}

.card-set {
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin20));
  margin-top: calc(-1 * var(--margin20));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--margin20);
  margin-top: var(--margin20);

  border: 1px solid #eeeeee;
}
